# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: |
    git clone https://github.com/aquasecurity/trivy
    export GO111MODULE=on
  displayName: 'Clone Trivy'

- task: Go@0
  displayName: "Install Trivy"
  inputs:
    command: 'build'
    workingDirectory: '$(System.DefaultWorkingDirectory)/trivy/cmd/trivy'

- task: CmdLine@2
  displayName: Run Trivy scan
  inputs:
    script: |
      $(System.DefaultWorkingDirectory)/trivy/cmd/trivy/trivy image --format template --template "@templates/junit.tpl" -o junit-report.xml liamgu/azuredevopscontainersdemo:74 
      cp $(System.DefaultWorkingDirectory)/trivy/cmd/trivy/junit-report.xml $(Build.ArtifactStagingDirectory)/junit-report.xml

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '**/junit-*.xml'
    mergeTestResults: true
    failTaskOnFailedTests: true
    testRunTitle: 'Trivy'
  condition: 'always()'

